
@model IEnumerable<MSsite.Models.Cat>

<div>
    <ul>
        @foreach (var Cat in Model)
        {


            <li>
                @for (int i=0; i < Cat.NumOfMeow; i++)
                {
                    @(Cat.Meow + " ")
                }
            </li>
        }

    </ul>

</div>